body {
    margin: 0;
    font-family: sans-serif;
    background: rgb(20,17,17);
    background: linear-gradient(90deg, rgba(20,17,17,1) 0%, rgba(17,30,42,1) 58%, rgba(5,40,70,1) 100%);
    line-height: 1.5;
}

body > section {
    min-height: 100vh;
}

nav > section {
    overflow: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #13161b;
}

nav li {
    float: left;
    border-right: 1px solid white;
}

nav li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 1em;
}

nav li a:hover {
    color: goldenrod;
    background-color: black;
}

#home {
    background-image: url("/pictures/leaves.jpeg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    color: white;
}

#home h2 {
    margin: 0;
    text-shadow: 0 0 20px black;
    text-align: center;
}

#about {
    background-image: url("/pictures/garden.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 20px black;
}

#about h2 {
    text-align: center;
    font-size: 2em;
}

#about p {
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.5em;
}

#portfolio {
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 0 0 20px black;
}

#portfolio h2 {
    text-align: center;
    font-size: 2em;
}

#portfolio p {
    text-align: center;
    font-size: 1.5em;
}

#portfolio ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 400px;
    margin: 1em;
}

.card img {
    width: 100%;
}

#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 20px black;
}

#testimonials h2 {
    text-align: center;
    font-size: 2em;
}

#testimonials p {
    text-align: center;
    font-size: 1.5em;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 20px black;
}

#contact h2 {
    font-size: 2em;
}

#contact > form {
    display:flex;
}

#contact > form > div {
    display: flex;
    flex-direction: column;
}

#contact label {
    display: flex;
    flex-direction: column;
}

label {
    margin: 1em 0;
}

label span {
    margin: 1em 0;
}

input, textarea {
    border: 1px solid #000;
    padding: 0.5em;
    margin: 0 2em 0 0;
    width: 20em;
    font-size: 1em;
}

textarea {
    height: 15em;
    margin: 0;
}

form button {
    width: auto;
    font-size: 1em;
    margin: 1em 0;
    padding: 0.5em 1em;
    background-color: white;
    color: black;
    border: none;
}